[Unit]
Description=Servicio Bot del alumnoXX.
After=network.service

[Service]
Type=simple
ExecStart=/usr/bin/ruby /usr/local/bin/botXXd

[Install]
WantedBy=multi-user.target
